/android/bin
/android/my.keystore
korean/korean_verbs.sqlite3
pip-log.txt
*.pyc
*.sw[pln]
RCS
.coverage
lib
/bin
include
man
docs
korean_verbs.sqlite3
/node_modules
*.pch
.DS_Store
/ios/build
*.xcodeproj
