p.micro Verb list and English definitions were extracted from a(href='https://en.wiktionary.org/wiki/Category:Korean_verbs')
  Wiktionary's list of Korean verbs
div
  a(href='http://www.amazon.com/Basic-Korean-Adjectives-Bryan-Park/dp/1565911490/ref=sr_1_3?ie=UTF8&qid=1307750106&sr=8-://www.amazon.com/gp/product/0804846057/ref=as_li_tl?ie=UTF8&tag=dongsa-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=0804846057&linkId=53c8beb7652d523433f5c00129a5e5b9')
    img(src='/images/500-korean-verbs.png', width='50px')
  a(href='https://www.amazon.com/gp/product/B01819J4WQ/ref=as_li_tl?ie=UTF8&tag=dongsa-20&camp=1789&creative=9325&linkCode=as2&creativeASIN=B01819J4WQ&linkId=875dacb911ac73642b37d07adfee06bc')
    img(src='/images/500-korean-adjectives.png', width='50px')
