p Verb list and English definitions were provided by Kybyong Park and are used with permission.
p &copy; 2011 Kyubyong Park, from 500 BASIC KOREAN VERBS: The Only Comprehensive Guide to Conjugation and Usage. ISBN 978-0-8048-4205-1 (Tuttle Publishing)
p &copy; 2009 Kyubyong Park, from 500 BASIC KOREAN ADJECTIVES. ISBN: 978-1565911499 (SOTONG)
div
  a(href='http://www.tuttlepublishing.com/book/?GCOI=48053100208970')
    img(src='/images/500-korean-verbs.png')
  a(href='http://www.amazon.com/Basic-Korean-Adjectives-Bryan-Park/dp/1565911490/ref=sr_1_3?ie=UTF8&qid=1307750106&sr=8-3')
    img(src='/images/500-korean-adjectives.png')
