!!! 5
html(lang="en")
  head
    title= 'dongsa.net - ' + infinitive
    link(href='css/base.css', type='text/css', rel='stylesheet')
    script(type='text/javascript', src='scripts/jquery-1.4.2.min.js')
  body
    header
      동사 [<a href="http://hanjadic.bravender.us/動詞">動詞</a>] Dongsa Korean Verb Conjugator
    article
      != body
    footer
      a(href='https://market.android.com/details?id=us.bravender.android.dongsa&feature=search_result')
        img(src='images/android_badge.png')
      a(href='http://itunes.apple.com/us/app/dongsa-korean-verb-conjugator/id401591807?mt=8')
        img(src='images/app_store_badge.png')
