!!! 5
html(lang="en")
  head
    title= 'dongsa.net - ' + search
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', type='text/css', rel='stylesheet')
    link(href='/css/bootstrap-theme.min.css', type='text/css', rel='stylesheet')
    link(href='/css/dongsa.css', type='text/css', rel='stylesheet')
    script(src='/scripts/jquery.min.js')
  body
    div.container
      nav.navbar.navbar-default
        div.navbar-header
          a.navbar-brand(href='/')
            동사 Dongsa Korean Verb Conjugator</a>
          form.navbar-form.navbar-right(role='search', action=formAction, method='get')
            div.form-group
              input.form-control(autofocus='autofocus', name='search', value=search, placeholder='English or Korean verb')
            button.btn.btn-primary(type='submit')
              | Search
      article
        != body
      div#footer
        div.text-center
          a(href='https://market.android.com/details?id=us.bravender.android.dongsa&feature=search_result')
            img(src='/images/android_badge.png')
          a(href='http://itunes.apple.com/us/app/dongsa-korean-verb-conjugator/id401591807?mt=8')
            img(src='/images/app_store_badge.png')
          p Korean verb conjugation algorithm &copy; 2008 &ndash; 2014 Dan Bravender
          != partial('definitions-copyright.jade')
